.slide-up {
	opacity: 0;
	transform: translateY(1em);
  transition: all .5s .3s cubic-bezier(0,.55,.75,1.29);
	/* transition: all .3s .5s ease-out; */
/*	will-change: all;*/
}

.slide-up.is-visible {
	opacity: 1;
	transform: translateY(0);
}


.fade-in {
  opacity: 0;
  transition: all 1s .3s ease-out;
}
.fade-in.is-visible {
  opacity: 1;
}


/* === THIS EXAMPLE FOR THE STAGGERED ITEMS === */
.gallery figure {
  position: relative;
	opacity: 0;
  transform: translateY(200px);
  transition: all .8s cubic-bezier(0,.55,.75,1.29);
}

.gallery.is-visible figure {
  transform: translateY(0);
	opacity: 1;
  transition-delay: calc(0.055s * var(--i));
  /* use this to stagger anim var values inline */
}
